nav.header {
    width: 340px;
    height: calc(100% - 60px);

    background-color: #f6fff5;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 15px;

        > .search {
            width: 100%;
            height: 50px;
            position: relative;

            > input {
                width: calc(100% - 30px);
                height: calc(100% - 30px);

                border-radius: 60px;
                background-color: #182450;
                color: #f6fff5;

                padding: 15px;
                margin: 0px;

                font-size: 1.15rem;

                outline: none;
                border: none;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            > img {
                position: absolute;
                top: 0px;
                right: 15px;

                height: 100%;
                width: 8%;
            }
        }

        > .categories {
            width: calc(100% - 40px);
            padding: 0px 20px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;

            > button {
                cursor: pointer;

                outline: none;
                border: 0px;
                background-color: #e5ffd2;
                padding: 10px 20px;
                border-radius: 60px;

                height: 50px;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                &.selected {
                    background-color: #9bce77;
                }

                > img {
                    height: 80%;
                }
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 40px;

        > div {
            height: 100%;
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 15px;
            position: relative;

            height: 100%;
            width: 100%;

            > a {
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                > img {
                    height: 80%;
                }
            }

            .profile:hover + .popup,
            .popup:hover {
                display: block;
            }

            .popup {
                display: none;

                width: 150px;
                height: 90px;
                background-color: #182450;
                position: absolute;
                bottom: 150%;
                left: -22px;
                border-radius: 20px;

                > div:not(.triangle) {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.signup {
                        background-color: #9bce77;
                        color: #182450;
                        text-decoration: none;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;

                        :active,
                        :visited,
                        :link {
                            color: #182450;
                            text-decoration: none;
                        }

                        :hover {
                            color: #e5ffd2;
                        }
                    }

                    &.login {
                        background-color: #182450;
                        color: #e5ffd2;
                        text-decoration: none;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;

                        :active,
                        :visited,
                        :link {
                            color: #e5ffd2;
                            text-decoration: none;
                        }

                        :hover {
                            color: #9bce77;
                        }
                    }
                }

                .triangle {
                    margin-left: 20px;
                    width: 0px;
                    border: transparent 20px solid;
                    border-top-color: #182450;
                }
            }
        }

        .logo > img {
            height: 100%;
        }
    }
}

@media screen and (max-width: 376px) {
    nav.header {
        position: absolute;
        background-color: transparent;
        z-index: 401;
        pointer-events: none;
        padding: 0px;

        width: calc(100% - 60px);
        height: 100%;

        .top {
            padding: 30px;

            > .search > input {
                pointer-events: auto;
            }

            > .categories {
                display: none;

                > button {
                    pointer-events: auto;
                }
            }
        }

        .bottom {
            width: 100%;
            height: 30px;
            padding: 20px 30px;
            background-color: #e5ffd2;

            > .actions {
                > a,
                > .popup {
                    pointer-events: auto;
                }
            }
        }
    }
}
