nav.header {
    width: 340px;
    height: calc(100% - 60px);

    background-color: #f6fff5;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 40px;

        > div {
            height: 100%;
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 15px;

            height: 100%;
            width: 100%;

            > a {
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                > img {
                    height: 80%;
                }
            }
        }

        .logo > img {
            height: 100%;
        }
    }
}
