nav.header {
    width: 340px;
    height: calc(100% - 60px);

    background-color: #f6fff5;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
        border: red 1px solid;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 40px;

        > div {
            height: 100%;

            > img {
                height: 100%;
            }
        }
    }
}
