body{
    background-color: #E5FFD2;
}
.main {
    background-color: #9BCE77; 
    margin: auto;
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.alter-ac-form {
    form {
        background-color: transparent;
        border: none;
        box-shadow: none;

        label {
            font-size: 14pt;
            font-weight: bold;
            color: #182450;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 90%;
            background-color: #E5FFD2;
            border: none;
            outline: none;
            padding: 5px 15px;
            border-radius: 15pt;
            margin-top: 10px;
            cursor: pointer;
            margin-bottom: 15px;
        }       

        button {
            background-color: #182450;
            border: none;
            border-radius: 22px;
            padding: 5px 55px;
            color: white;
        }
    }
}

.container_aa {
    display: flex;
    justify-content: space-between;
}

.left_side, .right_side {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.right_side {
    align-items: center;
    margin: 35px;
}
.right_side button {
    display: inline;
    margin-top: 35.5px;
}

.small-logo img {
    position: absolute; 
    bottom: 0; 
    right: 0;
    max-width: 10%;   
    right: 5%;          
}