
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body{
    font-family: "Poppins";
}

.main_login {
    font-family: "Poppins";
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-items: center;
    align-content: center;
    background: linear-gradient(
        to right,
        #9BCE77 0%,
        #9BCE77 40%,
        #E5FFD2 40%,
        #E5FFD2 100%
      );
}

.left_login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login {
    color: #182450;
}

.form-login label{
    font-size: 14pt;
    font-weight: bold;
    color: #182450;
}

.form-login input[type=password], input[type=email]  {
    width: 90%;
    background-color: #E5FFD2;
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 15pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account-signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: bold;
}

.sign-up a, a:active, a:visited{
    text-decoration: none;
    color: #182450;
}

.sign-in {
    background-color: #182450;
    color: #E5FFD2;
    border: none;
    padding: 5px 15px;
    border-radius: 15pt;
}

.left_login h1 {
    font-weight: 900;
}

.right_login {
    width: 80%;
}

.right_login h2, p {
    text-align: center;
}

.logo-hidden-login {
    display: none;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width:375.9px){
    .main_login {
        background: #9BCE77;
    }

    .left_login {
        grid-template-columns: 1fr;
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    .right_login {
        display: none;
    }

    .logo-hidden-login {
        display: block;
    }
}