#leaflet-map {
    height: 100%;
    width: calc(100% - 400px);

    outline: none;
    :focus {
        outline: none;
    }
}

#location-crosshair {
    width: 100%;
    height: calc(100% - 2px);

    margin: 2px 0px;
}
