.map {
    width: calc(100% - 400px);
    height: 100%;

    #leaflet-map {
        height: 100%;
        width: 100%;

        outline: none;
        :focus {
            outline: none;
        }
    }

    #location-crosshair {
        width: 100%;
        height: calc(100% - 2px);

        margin: 2px 0px;
    }
}

.popup-img{
    max-width: 150px;
    display: grid;
    place-content: center;
    place-items: center;
   border-radius: 100%;
}

