#leaflet-map {
    height: calc(100% - 50px);
    width: 100%;

    outline: none;
    :focus {
        outline: none;
    }
}

#location-crosshair {
    width: 100%;
    height: calc(100% - 2px);

    margin: 2px 0px;
}



.leaflet-popup-content-wrapper{
    background-color: #F6FFF5 !important;
    border: black 1px solid !important;
     width: 390px;
  height: 369px;
}



.popup-img{
    position: relative;
    width: 125px;
    height: 125px;
    max-width: 126px;
    max-height: 126px;
    border-radius: 200px;
    display: flex;
    left: 2vw;
    margin: 0 auto;
}

.timestamp{
top: 48vh;
position: relative;
right: 15px;
}



