.sign-up{
    background-color: #9BCE77;
    width: 45%;
    height: 100vh;
}

h1{
    text-align: center;
    padding-top: 8vh;
    margin-bottom: 0;
    color: #182450;
    font-weight: 600;
    font-size: 40px;
}

#form{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#form label{
    color: #182450;
    padding-left: 1vw;
    font-weight: 500;
}

#form input{
    background-color: #E5FFD2;
    border: 0.5px solid #E5FFD2;
    border-radius: 22px;
    box-shadow: rgb(91, 91, 91) 0.1em 0.1em 0.2em;
}

#button{
    display: flex;
}
