h1{
    text-align: center;
    padding-top: 8vh;
    margin-bottom: 0;
    color: #182450;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}




.submission-form {
    background-color: #9BCE77;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#plant-name{
    background-color: #E5FFD2;
    border: 0.5px solid #E5FFD2;
    border-radius: 22px;
    box-shadow: rgb(91, 91, 91) 0.1em 0.1em 0.2em;
}

#location{
    background-color: #E5FFD2;
    border: 0.5px solid #E5FFD2;
    border-radius: 22px;
    box-shadow: rgb(91, 91, 91) 0.1em 0.1em 0.2em;
}

#photo{
    color: transparent;
    width: 80px;
    border: 0.3x solid #182450;
    border-radius: 100px;
    box-shadow: rgb(91, 91, 91) 0.1em 0.1em 0.2em;
}

#img-link{   background-color: #E5FFD2;
    border: 0.5px solid #E5FFD2;
    border-radius: 22px;
    box-shadow: rgb(91, 91, 91) 0.1em 0.1em 0.2em;

}

#season{
    background-color: #E5FFD2;
    border: 0.5px solid #E5FFD2;
    border-radius: 22px;
    box-shadow: rgb(91, 91, 91) 0.1em 0.1em 0.2em;
    justify-content: right;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
    
}

#types{
    background-color: #E5FFD2;
    border: 0.5px solid #E5FFD2;
    border-radius: 22px;
    box-shadow: rgb(91, 91, 91) 0.1em 0.1em 0.2em;
}

button{
    border: 0.5px solid #182450;
    border-radius: 22px;
    box-shadow: rgb(91, 91, 91) 0.1em 0.1em 0.2em;
    color: #ffff;
    background-color: #182450;
}

.labels {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}