body{
    background-color: #E5FFD2;
}

.column {
    display: flex;
    flex-direction: column;
    
}

.sub-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sub-div{
    background-color: #9BCE77;
    margin: auto;
    height: 100vh;
    min-width: 764px;
    padding-top: 129px;
}
.side-div{
    width: 150px;
    max-width: 151px;
    
}
h1{
    font-size: 64px;
    font-weight: 600;
    color: #182450;
}
.sub-form{
    padding-left: 68px !important;
    padding-right: 68px !important;
}
input{
    width: 622px;
    height: 32px;
    border-radius: 52px;
    border: none;
}
input[name="location"], [name="season"], [name="types"] {
    width: 300px;
    text-align: center;
    margin-right: 20px;
}
#getLocationButton{
    width: 300px;
    height: 32px;
    border-radius: 52px;
    border: none;
    background-color: #182450;
    color: #ffff;
}
label[for="plant_name"]{
    margin-bottom: 12px ;
}
.input-group {
    display: flex;
    flex-direction: row;
    margin-right: 20px; 

}
select[name="types"], [name="season"]{
    width: 300px;
    height: 32px;
    border-radius: 52px;
    border: none;
    
}
input[name="photo"]{
    width: 622px;
    height: 32px;
    border-radius: 52px;
    border: none;
    
}
.row{
    display: flex;
    flex-direction: row;
    
}
#fileInput {
    width: 622px;
    background-color: #182450;
    color: transparent; /* Verberg de tekst */
}
