/* Add this complete CSS to your existing stylesheet */
.submission_wrapper {
  background: #E5FFD2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F6FFF5; /* White text */
  justify-content: center;
}

.submission_wrapper a {
    color: #182450; /* White text */
    text-decoration: none;
}

.submissions_table-wrapper {
  min-height: 500px; /* Define the maximum height of the table to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the maximum height */
}

.submissions_table {
  width: 900px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.submissions_table, .submissions_table th, .submissions_table td {
  border: 1px solid #E5FFD2; /* Your border color */
}

.submissions_table th, .submissions_table td {
  padding: 8px 12px;
  text-align: left;
}

// Make head sticky
.submissions_table thead tr {
  position: sticky;
  top: 0;
  background-color: #9BCE77 !important; /* Light green background */
  color: #F6FFF5; /* White text */
}

.submissions_table tr:nth-child(even) {
  background-color: #182450; /* Dark blue background for even rows */
  color: #F6FFF5; /* White text for even rows */
}

.submissions_table tr:nth-child(odd) {
  background-color: #182450; /* Light green background for odd rows */
  color: #F6FFF5; /* Dark blue text for odd rows */
}

.submissions_title {
  font-size: 24px;
  color: #182450; /* Dark blue */
}

.submissions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E5FFD2;
  color: #F6FFF5; /* White text */
}

.submissions_logo {
  max-width: 200px;
  height: auto;
  margin: 20px 0;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .submissions_table {
    width: 100%;
  }
}
