@import "components/header.scss";

@import "pages/home.scss";
@import "pages/map.scss";
@import "pages/submissions.scss";

// Global CSS

body {
    margin: 0px;
    padding: 0px;

    width: 100vw;
    height: 100vh;
}
